ul li a{
    color: purple;
    font-size: 20px;
    text-decoration:line-through;
}

section h3 {
    border-top: 2px solid green;
    border-bottom: 2px solid green;
}

h3+p {
    background-color:cadetblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: inline;
}

